<p>Hi!</p>
<p>You have been granted a supervisor role ({{ rights }}) for VolgaCTF Qualifier.<br>
<a href="{{{ create_account_link }}}">Click here to create your account.</a></p>
<p>Regards<br>
VolgaCTF Qualifier team</p>
