<p>Hi, {{ name }}!</p>
<p><a href="{{{ team_link }}}">{{ team_name }}</a> has just posted a review for <a href="{{{ task_link }}}">{{ task_title }}</a>.<br>
Rating: {{ review_rating }}<br>
Comment: <q>{{ review_comment }}</q></p>
<p>All reviews for <a href="{{{ task_link }}}">{{ task_title }}</a> are available on the task <a href="{{{ task_statistics_link }}}">statistics page</a>.</p>
<p>Regards<br>
VolgaCTF Qualifier team</p>
