Hi, {{{ name }}}!

"{{{ team_name }}}" ({{{ team_link }}}) has just posted a review for "{{{ task_title }}}" ({{{ task_link }}}).
Rating: {{{ review_rating }}}
Comment: {{{ review_comment }}}

All reviews for "{{{ task_title }}}" are available on the task statistics page ({{{ task_statistics_link }}}).

Regards
VolgaCTF Qualifier team
