<p>Hi, {{ name }}!</p>
<p>We have received a request to reset your account password.<br>
<a href="{{{ password_reset_link }}}">Click here to reset your password.</a></p>
<p>If you ignore this message, your password will not be changed.</p>
<p>Regards<br>
VolgaCTF Qualifier team</p>
