Hi, {{{ name }}}!

We have received a request to reset your account password.
Please navigate to {{{ password_reset_link }}} in your browser.

If you ignore this message, your password will not be changed.

Regards
VolgaCTF Qualifier team
