<p>Hi, {{ name }}!</p>
<p>Welcome to VolgaCTF Qualifier!</p>
<p>You must confirm your email address so as to take part in the competition.<br>
<a href="{{{ email_confirm_link }}}">Click here to confirm your email address.</a></p>
<p>Regards<br>
VolgaCTF Qualifier team</p>
