Hi, {{{ name }}}!

Welcome to VolgaCTF Qualifier!

You must confirm your email address so as to take part in the competition.
Please navigate to {{{ email_confirm_link }}} in your browser.

Regards
VolgaCTF Qualifier team
