<p>Hi!</p>
<p>You have been granted a supervisor role ({{ rights }}) for VolgaCTF 2026 Qualifier.<br>
<a href="{{{ create_account_link }}}">Click here to create your account.</a></p>
<p>Regards<br>
VolgaCTF 2026 Qualifier team</p>
