<p>Hi!</p>
<p>You have been granted a supervisor role ({{ rights }}) for SamaraCTF 2026.<br>
<a href="{{{ create_account_link }}}">Click here to create your account.</a></p>
<p>Regards<br>
SamaraCTF 2026 team</p>
