Hi, {{{ name }}}!

Welcome to SamaraCTF 2026!

You must confirm your email address so as to take part in the competition.
Please navigate to {{{ email_confirm_link }}} in your browser.

Regards
SamaraCTF 2026 team
