Hello, {{{ name }}}!

You have requested a password reset for your account!
Please visit http://{{{ domain }}}/reset-password?team={{{ team }}}&code={{{ code }}} in your browser.

Thank you!

Sincerely,
VolgaCTF team
