<p>Hello, {{ name }}!</p>
<p>You have requested a password reset for your account!<br>
<a href="http://{{{ domain }}}/reset-password?team={{{ team }}}&code={{{ code }}}">Click here to reset your password.</a></p>
<p>Thank you!</p>
<p>Sincerely,<br>
VolgaCTF team</p>
