Hello, {{ name }}!

We need to verify your email address so you can participate in VolgaCTF 2015 Quals!
Please visit http://{{ domain }}/verify-email?code={{ code }} in your browser.

Thank you!

Sincerely,
VolgaCTF team
