<p>Hello, {{{ name }}}!</p>
<p>We need to verify your email address so you can participate in VolgaCTF 2015 Quals!<br>
<a href="http://{{ domain }}/verify-email?code={{ code }}">Click here to verify you email.</a></p>
<p>Thank you!</p>
<p>Sincerely,<br>
VolgaCTF team</p>
